@media(max-width: 768px) {    
    .apresentacao{
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .content-yi{
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .finalizacao{
        padding-left: 6rem;
        padding-right: 6rem;
    }
}