@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  
:root {
  --laranja-claro: #fbcc5c;
  --laranja-medio: #fd811e;
  --laranja-abobora:#d5401d ;
  --laranja-escuro:  #b75811;
  --vermelho: #900e0a;
  --cinza-medio: #25252d;
}
* {
  margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background: url(../img/BGFinal.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.title{
  text-align: center;
  margin-top: 50px;
  word-spacing: 0.5em;
    
}
p{
  text-align: center;
  margin-bottom: 50px;
}
.frase{
  margin: 30px;
}
.frase > p{
  text-align: center;
  font-weight: bold;
  color: var(--laranja-abobora);
  letter-spacing: 0.5em; 
  word-spacing: 0.5em;
}


h2{
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}
.portfolio {
  max-width: 1000px; /* modificar aqui */
  margin: auto;
  
}
.portfolio h2{
  margin-bottom: 10px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row,
.row > .column {
  padding: 10px;
}
.row > .column> .content> img{

  /* max-width: 900px; */
  height: 350px;
  width: 500px; /* não ta pegando daqui*/
} 
.content{
  max-width: 400px;
}
.content img{
  cursor: pointer;
  transition: all linear 0.4s;
}
.content img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}
.content h3{
  margin-top: 20px;
  text-align: center;
}
.content p{
  font-size: 14px;
}
.column {
    float: left;
    width: 20%;
    max-height: 400px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.frase-yi{
  margin: 60px 0px;
  text-align: center;
  font-weight: bold;
  color: var(--vermelho);
  letter-spacing: 0.5em; word-spacing: 0.5em
  
}

.content-yi > img{
  align-items: center;
  width: 100%;
}
.content-yi h3{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.links{
  text-align: center;
  margin-bottom: 50px;
}

a{
  padding: 5px;
  text-decoration: none;
  color: #cc3300;
  font-weight: bold;
  font-family: 'roboto';
  border-radius: 8%;
  margin: 0 10px;
  margin-bottom: 20px;
  transition: 0.5s;
}
a:hover{
  color: var(--laranja-medio);
}
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

footer{
  text-align: center;
  height: 150px;
  background:var(--cinza-medio);
  width: 101%;
  margin: 0%;
  margin-bottom: -1%;
}

.copyright{
  padding: 30px 30px 0px;
  margin-top: 20px;
  color: #ffb366;
}
.copyright p{
  font-size: 14px;
  margin: 10px;
}

/* INICIO MODAL */

#modal_img{
  /* width: 64vw; */
  height: 75vh;
  transform: scale(0);
  transition: all linear .3s;
  display: none;
}

.modal_active #modal_img{
  transform: scale(1);
  display: block;  
}

.modal{
  width: 100vw;
  height: 100vh;
  background-color: #000000b3;
  position: fixed;
  top: 0;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#bt_close{
  color:#fff;
  background-color: #000;
  position: absolute;
  top:10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 25px;
  border:solid 1px #fff;
  transition: all ease-out .4s;
  cursor: pointer;
}
#bt_close:hover{
  background-color: #f00;
}

.modal_active{
  visibility: visible;
  opacity: 1;

}

/* FIM MODAL */